<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sistema Administrativo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"></link>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        <a class="navbar-brand" href="/administrativo">Sistema Administrativo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group" style="margin-top: 10px;">
                    <li class="list-group-item active"><i class="fa-solid fa-bars"></i> Menu</li>
                    <a href="/listarUsuarioAdmin">
                        <li class="list-group-item">Listar Usuários</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Listar Produtos</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Listar Pedidos</li>
                    </a>
                </ul>
            </div>
			<div class="col-md-9">
			        <div class="header">
			            <h1>Bem-vindo ao Sistema Administrativo da Brasileirão Store!</h1>
			        </div>
			        <div class="message">
			            <p>Aqui você pode gerenciar todos os aspectos da loja, incluindo produtos, usuários e pedidos. Navegue pelo menu principal para realizar as tarefas administrativas e garantir que a loja esteja sempre atualizada e funcionando sem problemas.</p>
			            <p>Com o sistema da BrasileiraoStore, a administração da loja é fácil, intuitiva e segura.</p>
			            <p><strong>Brasileirão Store – O melhor do futebol na sua loja!</strong></p>
			            <p>Com a BrasileiraoStore, você tem à disposição os melhores produtos do futebol nacional, sempre com a qualidade e segurança que os torcedores merecem.</p>
			        </div>
			    </div>
        </div>
		
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>